// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #72aad8;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #b42c27;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//colors
$warning: #FD044F;
$primary:#868e96;
$danger: #CC0000;


