// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Views
@import 'partials/header';
@import 'partials/footer';

.justify-content-center{

    margin-top: 80px;
}

h1 {

    text-align: center;
    margin: 50px;
}

.card {

    background: $orange;
    margin: 20px;

    .card-header {

        text-align: center;
        font-weight: bold;
        font-size: 1.5rem;
    }

    .card-body {
    
        img {
    
            width: 100%;
        }
    }
    
}