.container.create-cont {

  display: flex;
  width: 100%;
  height: 100%;

}


div.form {

  margin-top: 120px;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;

}

div.form-group {

  display: table-cell;
  padding: 5px;
  margin-bottom: 10px;

}

div > label {

  font-size: 15px;
  font-weight: bold;

}

.form-group > input {

  display: flex;
  justify-content: flex-end;
  width: 200px;

}

.form-create-border {

  border: 5px outset $indigo;
  border-radius: 10px;
  padding: 20px;
  background-color: $indigo;

}

button {

  text-align: center;
  width: 100%;
  // margin: 0 600px;
  border-radius: 5px;

}
