#edit-cont{

  display: flex;
  margin-top: 10%;
  width: 50%;
  margin-bottom: 5%;
  height: 100%;
  
    .img-wrapper{
        
        img{
            width: 100px;
        }

        font-size: 18px;
    }
}
