.home {

  #hero {
    width: 100%;
    height: 80vh;
    background: url("https://images.unsplash.com/photo-1503803548695-c2a7b4a5b875?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max");
    background-size: cover;
    position: relative;
    margin-top: -80px;
    z-index: 9;
  }
  
  #hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
  }
  
  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    line-height: 56px;
    color: #222;
  }
  
  #hero h2 {
    color: #333;
    margin-bottom: 30px;
    font-size: 24px;
  }
  
  
  
  
  @-webkit-keyframes animate-loading-notify {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading-notify {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
 
  
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
    
  }
  
  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {

    padding: 80px 0;
  }

     img {

        height: 100%;
        width: 100%;
    }

    .card {

      margin: 10px;
      width: 330px;
      height: 330px;
      color: white;
      transition: filter 0.5s;
    }

    .card:hover {

      filter: grayscale(1);
    }

    h1 {

      margin-top: 15px;
      margin-bottom: 50px;
    }

     
}