#profile{

    margin-top: 100px;

<<<<<<< HEAD
=======
    .media img[alt="show"]{
        cursor: pointer;
    }
>>>>>>> 572f3280106360a7721fb54f446d9644b9461cfc
    .center-cropped {
        object-fit: .5; /* Do not scale the image */
        object-position: center; /* Center the image within the element */
        height: 100px;
        width: 100px;
    }

    .media-body .txt{
        max-height: calc(100px - 25px - 0.5rem);
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .media-body h3{
        max-height: 60px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .btn-wrapper{
        height: 100px;
    }
    
<<<<<<< HEAD
=======
    a{
        color: #212529;
        text-decoration: none;

        &:hover{
            color: #212529;
            text-decoration: none;
        }
    }
>>>>>>> 572f3280106360a7721fb54f446d9644b9461cfc

}