#profile{


    .media img[alt="show"]{
        cursor: pointer;
    }
    .center-cropped {
        object-fit: .5; /* Do not scale the image */
        object-position: center; /* Center the image within the element */
        height: 100px;
        width: 100px;
    }

    .media-body .txt{
        max-height: calc(100px - 25px - 0.5rem);
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .media-body h3{
        max-height: 60px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .btn-wrapper{
        height: 100px;
    }
    
    a{
        color: #212529;
        text-decoration: none;

        &:hover{
            color: #212529;
            text-decoration: none;
        }
    }

    a.btn{
        color: white;

        &:hover{
            color:white;
            text-decoration: none;
        }
    }

    .custom-control-label::before,
    .custom-control-label::after,
    .custom-control-input{
        cursor: pointer;
    }

} 